## Petal Power Inventory
Youâ€™re the lead data analyst for a chain of gardening stores called Petal Power. Help them analyze their inventory!

In [13]:
import numpy as np
import pandas as pd

## Load Data
Let's create a DataFrame with the info in the `inventory.csv`

In [14]:
inventory = pd.read_csv('inventory.csv')

# Inspect Data
Let's check info and data in our DataFrame

In [15]:
print(inventory.info())
print(inventory.head(10))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   location             29 non-null     object
 1   product_type         29 non-null     object
 2   product_description  29 non-null     object
 3   quantity             29 non-null     int64
 4   price                29 non-null     float64
dtypes: float64(1), int64(1), object(3)
memory usage: 1.3+ KB
None
        location  product_type         product_description  quantity  price
0  Staten Island         seeds                       daisy         4   6.99
1  Staten Island         seeds                  calla lily        46  19.99
2  Staten Island         seeds                      tomato        85  13.99
3  Staten Island  garden tools                        rake         4  13.99
4  Staten Island  garden tools                 wheelbarrow         0  89.99
5  Staten Island  garden tools                       spade        93  19.99
6  Staten Island  pest_control               insect killer        74  12.99
7  Staten Island  pest_control                 weed killer         8  23.99
8  Staten Island       planter  20 inch terracotta planter         0  17.99
9  Staten Island       planter      8 inch plastic planter        53   3.99

## Product Request
A customer asks for products sold at your Staten Island location.
The first 10 rows represent data from Staten Island location.

In [16]:
staten_island = inventory[:10]
product_request = staten_island[['product_description']]

## Seed Request
A customer asks for seeds sold in Brooklyn.

In [17]:
seed_request = inventory[(inventory.product_type == 'seeds') & (inventory.location == 'Brooklyn')]

## In Stock

In [18]:
inventory['in_stock'] = inventory.quantity.apply(lambda x: True if x > 0 else False)

## Total Value of Stock

In [19]:
inventory['total_value'] = inventory.apply(lambda row: row['price']*row['quantity'], axis=1)

## Full Description

In [20]:
combine_lambda = lambda row: \
    '{} - {}'.format(row.product_type,
                     row.product_description)
inventory['full_description'] = inventory.apply(combine_lambda, axis=1)

In [21]:
print(staten_island.info())
print(staten_island[['location', 'product_type']])
print(product_request)
print(seed_request['product_description'])
print(inventory[['product_description', 'quantity', 'in_stock']])
print(inventory[['product_description', 'total_value']])
print(inventory['full_description'])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   location             10 non-null     object
 1   product_type         10 non-null     object
 2   product_description  10 non-null     object
 3   quantity             10 non-null     int64
 4   price                10 non-null     float64
dtypes: float64(1), int64(1), object(3)
memory usage: 528.0+ bytes
None
        location  product_type
0  Staten Island         seeds
1  Staten Island         seeds
2  Staten Island         seeds
3  Staten Island  garden tools
4  Staten Island  garden tools
5  Staten Island  garden tools
6  Staten Island  pest_control
7  Staten Island  pest_control
8  Staten Island       planter
9  Staten Island       planter
          product_description
0                       daisy
1                  calla lily
2                      tomato
3                        rake
4                 wheelbarrow
5                       spade
6               insect killer
7                 weed killer
8  20 inch terracotta planter
9      8 inch plastic planter
10         daisy
11    calla lily
12        tomato
Name: product_description, dtype: object
           product_description  quantity  in_stock
0                        daisy         4      True
1                   calla lily        46      True
2                       tomato        85      True
3                         rake         4      True
4                  wheelbarrow         0     False
5                        spade        93      True
6                insect killer        74      True
7                  weed killer         8      True
8   20 inch terracotta planter         0     False
9       8 inch plastic planter        53      True
10                       daisy        50      True
11                  calla lily         0     False
12                      tomato         0     False
13                        rake        15      True
14                 wheelbarrow        82      True
15                       spade        36      True
16               insect killer        80      True
17                 weed killer        76      True
18  20 inch terracotta planter         5      True
19      8 inch plastic planter        26      True
20                       daisy        57      True
21                  calla lily        95      True
22                      tomato        45      True
23                        rake        21      True
24                 wheelbarrow        98      True
25                       spade        26      True
26               insect killer         0     False
27                 weed killer        16      True
28  20 inch terracotta planter        87      True
           product_description  total_value
0                        daisy        27.96
1                   calla lily       919.54
2                       tomato      1189.15
3                         rake        55.96
4                  wheelbarrow         0.00
5                        spade      1859.07
6                insect killer       961.26
7                  weed killer       191.92
8   20 inch terracotta planter         0.00
9       8 inch plastic planter       211.47
10                       daisy       349.50
11                  calla lily         0.00
12                      tomato         0.00
13                        rake       209.85
14                 wheelbarrow      7379.18
15                       spade       719.64
16               insect killer      1039.20
17                 weed killer      1823.24
18  20 inch terracotta planter        89.95
19      8 inch plastic planter       103.74
20                       daisy       398.43
21                  calla lily      1899.05
22                      tomato       629.55
23                        rake       293.79
24                 wheelbarrow      8819.02
25                       spade       519.74
26               insect killer         0.00
27                 weed killer       383.84
28  20 inch terracotta planter      1565.13
0                            seeds - daisy
1                       seeds - calla lily
2                           seeds - tomato
3                      garden tools - rake
4               garden tools - wheelbarrow
5                     garden tools - spade
6             pest_control - insect killer
7               pest_control - weed killer
8     planter - 20 inch terracotta planter
9         planter - 8 inch plastic planter
10                           seeds - daisy
11                      seeds - calla lily
12                          seeds - tomato
13                     garden tools - rake
14              garden tools - wheelbarrow
15                    garden tools - spade
16            pest_control - insect killer
17              pest_control - weed killer
18    planter - 20 inch terracotta planter
19        planter - 8 inch plastic planter
20                           seeds - daisy
21                      seeds - calla lily
22                          seeds - tomato
23                     garden tools - rake
24              garden tools - wheelbarrow
25                    garden tools - spade
26            pest_control - insect killer
27              pest_control - weed killer
28    planter - 20 inch terracotta planter
Name: full_description, dtype: object