# Cleaning Data With Python

## Introduction

The technology that fuels this verification system on nearly every website and application is the ever reliable, often quirky language of regular expressions, commonly shortened to regex, as we will use here, or regexp.

A **regular expression** is a special sequence of characters that describe a pattern of text that should be found, or matched, in a string or document. By matching text, we can identify how often and where certain pieces of text occur, as well as have the opportunity to replace or update these pieces of text if needed.

Regular Expressions have a variety of use cases including:
* validating user input in HTML forms
* verifying and parsing text in files, code and applications
* examining test results
* finding keywords in emails and web pages

## Literals
The simplest text we can match with regular expressions are _**literals**_. This is where our regular expression contains the exact text that we want to match. The regex `a`, for example, will match the text `a`, and the regex `bananas` will match the text `bananas`.

We can additionally match just part of a piece of text. Perhaps we are searching a document to see if the word monkey occurs, since we love monkeys. We could use the regex monkey to match monkey in the piece of text The monkeys like to eat bananas..

Not only are we able to match alphabetical characters — digits work as well! The regex 3 will match the 3 in the piece of text 34, and the regex 5 gibbons will completely match the text 5 gibbons!

Regular expressions operate by moving character by character, from left to right, through a piece of text. When the regular expression finds a character that matches the first piece of the expression, it looks to find a continuous sequence of matching characters.

## Alternation
Do you love baboons and gorillas? You can find either of them with the same regular expression using alternation! Alternation, performed in regular expressions with the pipe symbol, `|`, allows us to match either the characters preceding the `|` OR the characters after the `|`. The regex `baboons|gorillas` will match baboons in the text `I love baboons`, but will also match gorillas in the text `I love gorillas`.

## Character Sets

Character sets, denoted by a pair of brackets `[]`, let us match one character from a series of characters, allowing for matches with incorrect or different spellings.

The regex `con[sc]en[sc]us` will match `consensus`, the correct spelling of the word, but also match the following three incorrect spellings: `concensus`, `consencus`, and `concencus`. The letters inside the first brackets, `s` and `c`, are the different possibilities for the character that comes after con and before en. Similarly for the second brackets, s and c are the different character possibilities to come after `en` and before `us`.

Thus the regex `[cat]` will match the characters c, a, or t, but not the text cat.

The beauty of character sets (and alternation) is that they allow our regular expressions to become more flexible and less rigid than by just matching with literals!

We can make our character sets even more powerful with the help of the caret `^` symbol. Placed at the front of a character set, the `^` negates the set, matching any character that is not stated. These are called negated character sets. Thus the regex `[^cat]` will match any character that is not c, a, or t, and would completely match each character d, o or g.

Do we have a consensus that regular expressions are pretty cool?

## Wild for Wildcards

Wildcards `(.)` will match any single character (letter, number, symbol or whitespace) in a piece of text. They are useful when we do not care about the specific value of a character, but only that a character exists!

Let’s say we want to match any 9-character piece of text. The regex `.........` will completely match orangutan and marsupial! Similarly, the regex `I ate . bananas` will completely match both `I ate 3 bananas` and `I ate 8 bananas`.

If we want to match an actual period, `.`,  We can use the escape character, `\`, to escape the wildcard functionality of the `.` and match an actual period. The regex Howler monkeys are really lazy\. will completely match the text Howler monkeys are really lazy..

## Ranges

Ranges allow us to specify a range of characters in which we can make a match without having to type out each individual character. The regex `[abc]`, which would match any character `a`, `b`, or `c`, is equivalent to regex range `[a-c]`. The `-` character allows us to specify that we are interested in matching a range of characters.

The regex `I adopted [2-9] [b-h]ats` will match the text `I adopted 4 bats` as well as `I adopted 8 cats` and even `I adopted 5 hats`.

With ranges we can match any single capital letter with the regex `[A-Z]`, lowercase letter with the regex `[a-z]`, any digit with the regex `[0-9]`. We can even have multiple ranges in the same character set! To match any single capital or lowercase alphabetical character, we can use the regex `[A-Za-z]`.

Remember, within any character set `[]` we only match one character.

## Shorthand Character Classes

While character ranges are extremely useful, they can be cumbersome to write out every single time you want to match common ranges such as those that designate alphabetical characters or digits. To alleviate this pain, there are shorthand character classes that represent common ranges, and they make writing regular expressions much simpler. These shorthand classes include:

* `\w`: the “word character” class represents the regex range `[A-Za-z0-9_]`, and it matches a single uppercase character, lowercase character, digit or underscore
* `\d`: the “digit character” class represents the regex range `[0-9]`, and it matches a single digit character
* `\s`: the “whitespace character” class represents the regex range `[ \t\r\n\f\v]`, matching a single space, tab, carriage return, line break, form feed, or vertical tab

For example, the regex `\d\s\w\w\w\w\w\w\w` matches a digit character, followed by a whitespace character, followed by 7 word characters. Thus the regex completely matches the text `3 monkeys`.

In addition to the shorthand character classes `\w`, `\d`, and `\s`, we also have access to the negated shorthand character classes! These shorthands will match any character that is NOT in the regular shorthand classes. These negated shorthand classes include:

* `\W`: the “non-word character” class represents the regex range `[^A-Za-z0-9_]`, matching any character that is not included in the range represented by \w
* `\D`: the “non-digit character” class represents the regex range `[^0-9]`, matching any character that is not included in the range represented by \d
* `\S`: the “non-whitespace character” class represents the regex range `[^ \t\r\n\f\v]`, matching any character that is not included in the range represented by \s

## Grouping

If we want to match the whole piece of text `I love baboons` and `I love gorillas` with the regex `I love baboons|gorillas`it will match the string `I love baboons` and `gorillas`. This is because the | symbol matches the entire expression before or after itself.

Grouping, denoted with the open parenthesis `(` and the closing parenthesis `)`, lets us group parts of a regular expression together, and allows us to limit alternation to part of the regex.

The regex `I love (baboons|gorillas)` will match the text `I love` and then match either `baboons` or `gorillas`, as the grouping limits the reach of the | to the text within the parentheses.

These groups are also called capture groups, as they have the power to select, or capture, a substring from our matched text.

## Quantifiers - Fixed

Instead of writing the regex `\w\w\w\w\w\w\s\w\w\w\w\w\w`, which would match 6 word characters, followed by a whitespace character, and then followed by more 6 word characters, there is a better way to denote the quantity of characters we want to match.

Fixed quantifiers, denoted with curly braces `{}`, let us indicate the exact quantity of a character we wish to match, or allow us to provide a quantity range to match on.

* `\w{3}` will match exactly 3 word characters
* `\w{4,7}` will match at minimum 4 word characters and at maximum 7 word characters

The regex `roa{3}r` will match the characters `ro` followed by 3 `a`s, and then the character `r`, such as in the text roaaar. The regex `roa{3,7}r` will match the characters `ro` followed by at least 3 `a`s and at most 7 `a`s, followed by an r, matching the strings roaaar, roaaaaar and roaaaaaaar.

An important note is that quantifiers are considered to be greedy. This means that they will match the greatest quantity of characters they possibly can. For example, the regex mo{2,4} will match the text moooo in the string moooo, and not return a match of moo, or mooo. This is because the fixed quantifier wants to match the largest number of os as possible, which is 4 in the string moooo.

## Quantifiers - Optional

`humor` vs `humour`.

Optional quantifiers, indicated by the question mark `?`, allow us to indicate a character in a regex is optional, or can appear either `0` times or `1` time. For example, the regex `humou?r` matches the characters `humo`, then either `0` occurrences or `1` occurrence of the letter `u`, and finally the letter `r`. Note the `?` only applies to the character directly before it.

With all quantifiers, we can take advantage of grouping to make even more advanced regexes. The regex `The monkey ate a (rotten )?banana` will completely match both `The monkey ate a rotten banana` and `The monkey ate a banana`.

Since the `?` is a metacharacter, you need to use the escape character in your regex in order to match a question mark ? in a piece of text. The regex `Aren't owl monkeys beautiful\?` will thus completely match the text `Aren't owl monkeys beautiful?`.

## Quantifiers - 0 or More, 1 or More

**The Kleene star**, denoted with the asterisk `*`, is also a quantifier, and matches the preceding character 0 or more times. This means that the character doesn’t need to appear, can appear once, or can appear many many times.
The regex `meo*w` will match the characters `me`, followed by 0 or more os, followed by a w. Thus the regex will match `mew`, `meow`, `meooow`, and `meoooooooooooow`.

The **Kleene plus**, denoted by the plus `+`, which matches the preceding character 1 or more times.The regex `meo+w` will match the characters `me`, followed by 1 or more os, followed by a w. Thus the regex will match `meow`, `meooow`, and `meoooooooooooow`, but not match `mew`.

Like all the other metacharacters, in order to match the symbols `*` and `+`, you need to use the escape character in your regex. The regex `My cat is a \*` will completely match the text `My cat is a *`.

## Anchors

The anchors hat `^` and dollar sign `$` are used to match text at the start and the end of a string, respectively.

The regex `^Monkeys: my mortal enemy$` will completely match the text `Monkeys: my mortal enemy` but not match `Spider Monkeys: my mortal enemy in the wild` or `Squirrel Monkeys: my mortal enemy in the wild`. The `^` ensures that the matched text begins with Monkeys, and the `$` ensures the matched text ends with enemy.

Without the anchor tags, the regex `Monkeys: my mortal enemy` will match the text `Monkeys: my mortal enemy` in both `Spider Monkeys: my mortal enemy in the wild` and `Squirrel Monkeys: my mortal enemy in the wild`.

Once again, as with all other metacharacters, in order to match the symbols `^` and `$`, you need to use the escape character in your regex. The regex `My spider monkey has \$10\^6` in the bank will completely match the text `My spider monkey has $10^6 in the bank`.

## Procedure

When we receive raw data, we have to do a number of things before we’re ready to analyze it, possibly including:

* diagnosing the “tidiness” of the data — how much data cleaning we will have to do
* reshaping the data — getting right rows and columns for effective analysis
* combining multiple files
* changing the types of values — how we fix a column where numerical values are stored as strings, for example
* dropping or filling missing values - how we deal with data that is incomplete or missing
* manipulating strings to represent the data better

## Diagnose the Data

We often describe data that is easy to analyze and visualize as “tidy data”. What does it mean to have tidy data?
For data to be tidy, it must have:

* Each variable as a separate column
* Each row as a separate observation

The first step of diagnosing whether or not a dataset is tidy is using pandas functions to explore and probe the dataset.

You’ve seen most of the functions we often use to diagnose a dataset for cleaning. Some of the most useful ones are:

* `.head()` — display the first 5 rows of the table
* `.info()` — display a summary of the table
* `.describe()` — display the summary statistics of the table
* `.columns` — display the column names of the table
* `.value_counts()` — display the distinct values for a column

## Dealing with Multiple Tables

Let’s say that we have a ton of files following the filename structure: `'file1.csv'`, `'file2.csv'`, `'file3.csv'`, and so on. The power of pandas is mainly in being able to manipulate large amounts of structured data, so we want to be able to get all of the relevant information into one table so that we can analyze the aggregate data.

We can combine the use of `glob`, a Python library for working with files, with pandas to organize this data better. `glob` can open multiple files by using regex matching to get the filenames:

`import glob`
 
`files = glob.glob("file*.csv")`
 
`df_list = []`

`for filename in files:`

\t   `data = pd.read_csv(filename)`

\t   `df_list.append(data)`
 
`df = pd.concat(df_list)`
 
`print(files)`

In [1]:
import pandas as pd
import glob

student_files = glob.glob("exams/exams*.csv")
df_list = []
for filename in student_files:
  data = pd.read_csv(filename)
  df_list.append(data)
students = pd.concat(df_list)
print(students)
print(len(students))

    id         full_name gender_age fractions probability       grade
0    0    Barrett Feragh        M14       76%         72%   9th grade
1    1   Llewellyn Keech        M14       83%         NaN  12th grade
2    2   Llewellyn Keech        M14       83%         NaN  12th grade
3    3      Terrell Geri        M15       80%         86%  11th grade
4    4    Gram Hallewell        M14       67%         78%  10th grade
..  ..               ...        ...       ...         ...         ...
95  95          Maxi Dew        F16       77%         71%  10th grade
96  96       Jewell Boas        F15       57%         90%  12th grade
97  97      Lebbie Twine        F17       72%         91%  12th grade
98  98     Garek Culbert        M14       64%         NaN  11th grade
99  99  Cristine Warboys        F16       74%         74%  12th grade

[1000 rows x 6 columns]
1000

## Reshaping your Data

We want:

* Each variable as a separate column
* Each row as a separate observation

We can use `pd.melt()` to do this transformation. `.melt()` takes in a DataFrame, and the columns to unpack:

`pd.melt(frame=df, id_vars="name", value_vars=["Checking","Savings"], value_name="Amount", var_name="Account Type")`

The parameters you provide are:

* `frame`: the DataFrame you want to melt
* `id_vars`: the column(s) of the old DataFrame to preserve
* `value_vars`: the column(s) of the old DataFrame that you want to turn into variables
* `value_name`: what to call the column of the new DataFrame that stores the values
* `var_name`: what to call the column of the new DataFrame that stores the variables

The default names may work in certain situations, but it’s best to always have data that is self-explanatory. Thus, we often use `.columns()` to rename the columns after melting:

`df.columns(["Account", "Account Type", "Amount"])`

In [2]:
import pandas as pd
from students import students

print(students.head())
print(students.columns)

students = pd.melt(frame=students, id_vars=["full_name", "gender_age", "grade"], value_vars=["fractions", "probability"], value_name="score", var_name="exam")

print(students.head())
print(students.columns)
print(students.exam.value_counts())

           full_name gender_age fractions probability       grade
0     Moses Kirckman        M14       69%         89%  11th grade
1    Timofei Strowan        M18       63%         76%  11th grade
2       Silvain Poll        M18       69%         77%   9th grade
3     Lezley Pinxton        M18       NaN         72%  11th grade
4  Bernadene Saunper        F17       72%         84%  11th grade
Index(['full_name', 'gender_age', 'fractions', 'probability', 'grade'], dtype='object')
           full_name gender_age       grade       exam score
0     Moses Kirckman        M14  11th grade  fractions   69%
1    Timofei Strowan        M18  11th grade  fractions   63%
2       Silvain Poll        M18   9th grade  fractions   69%
3     Lezley Pinxton        M18  11th grade  fractions   NaN
4  Bernadene Saunper        F17  11th grade  fractions   72%
Index(['full_name', 'gender_age', 'grade', 'exam', 'score'], dtype='object')
fractions      1000
probability    1000
Name: exam, dtype: int64

## Dealing with Duplicates

Often we see duplicated rows of data in the DataFrames we are working with. This could happen due to errors in data collection or in saving and loading the data.

To check for duplicates, we can use the pandas function `.duplicated()`, which will return a Series telling us which rows are duplicate rows.

We can use the pandas `.drop_duplicates()` function to remove all rows that are duplicates of another row.

If we wanted to remove every row with a duplicate value in the item column, we could specify a subset:

`fruits = fruits.drop_duplicates(subset=['item'])`

By default, this keeps the first occurrence of the duplicate:

In [3]:
print(students)
duplicates = students.duplicated()
print(duplicates.value_counts())
students = students.drop_duplicates()
duplicates = students.duplicated()
print(duplicates.value_counts())

              full_name gender_age       grade         exam score
0        Moses Kirckman        M14  11th grade    fractions   69%
1       Timofei Strowan        M18  11th grade    fractions   63%
2          Silvain Poll        M18   9th grade    fractions   69%
3        Lezley Pinxton        M18  11th grade    fractions   NaN
4     Bernadene Saunper        F17  11th grade    fractions   72%
...                 ...        ...         ...          ...   ...
1995     Wilie Stillert        F14   9th grade  probability   69%
1996     Gertie Flicker        F15  11th grade  probability   86%
1997       Yettie Labes        F14  12th grade  probability   82%
1998     Lock McGuinley        M18  10th grade  probability   84%
1999       Bebe Lebbern        F15  12th grade  probability   91%

[2000 rows x 5 columns]
False    1976
True       24
dtype: int64
False    1976
dtype: int64

## Splitting by Index

We can easily break the data into separate columns by splitting the strings using .str

In [4]:
print(students.head())
students['gender'] = students.gender_age.str[0]
students['age'] = students.gender_age.str[1:]
students = students[['full_name', 'gender', 'age', 'grade', 'exam', 'score']]
print(students.head())

           full_name gender_age       grade       exam score
0     Moses Kirckman        M14  11th grade  fractions   69%
1    Timofei Strowan        M18  11th grade  fractions   63%
2       Silvain Poll        M18   9th grade  fractions   69%
3     Lezley Pinxton        M18  11th grade  fractions   NaN
4  Bernadene Saunper        F17  11th grade  fractions   72%
           full_name gender age       grade       exam score
0     Moses Kirckman      M  14  11th grade  fractions   69%
1    Timofei Strowan      M  18  11th grade  fractions   63%
2       Silvain Poll      M  18   9th grade  fractions   69%
3     Lezley Pinxton      M  18  11th grade  fractions   NaN
4  Bernadene Saunper      F  17  11th grade  fractions   72%

## Splitting by Character

Use: `str.split('x')`

Apply: `str.get(n)`

In [5]:
name_split = students['full_name'].str.split(' ')
students['first_name'] = name_split.str.get(0)
students['last_name'] = name_split.str.get(1)
students = students[['last_name', 'first_name', 'gender', 'age', 'grade', 'exam', 'score']]
print(students.head())

  last_name first_name gender age       grade       exam score
0  Kirckman      Moses      M  14  11th grade  fractions   69%
1   Strowan    Timofei      M  18  11th grade  fractions   63%
2      Poll    Silvain      M  18   9th grade  fractions   69%
3   Pinxton     Lezley      M  18  11th grade  fractions   NaN
4   Saunper  Bernadene      F  17  11th grade  fractions   72%

## Looking at Types

To see the types of each column of a DataFrame, we can use:

`print(df.dtypes)`

In [6]:
print(students.dtypes)
# print(students.score.mean()) this will produce an error because the score type is a String

last_name     object
first_name    object
gender        object
age           object
grade         object
exam          object
score         object
dtype: object

## String Parsing

`fruit.price = fruit['price'].replace('[\$,]', '', regex=True)`

`fruit.price = pd.to_numeric(fruit.price)`

In [7]:
students.score = students['score'].replace('[\%,]', '', regex=True)
students.score = pd.to_numeric(students.score)
print(students.score.mean())

77.69657422512235

## More String Parsing

To extract the numbers from the string we can use pandas’ .str.split() function:

`split_df = df['exerciseDescription'].str.split('(\d+)', expand=True)`

we can assign columns from this DataFrame to the original df:

`df.reps = pd.to_numeric(split_df[1])`

`df.exercise = split_df[2].replace('[\- ]', '', regex=True)`

In [8]:
print(students.dtypes)
students.grade = students.grade.str.split('(\d+)', expand=True)[1]
students.grade = pd.to_numeric(students.grade)
avg_grade = students.grade.mean()
print(students.dtypes)
print(avg_grade)

last_name      object
first_name     object
gender         object
age            object
grade          object
exam           object
score         float64
dtype: object
last_name      object
first_name     object
gender         object
age            object
grade           int64
exam           object
score         float64
dtype: object
10.620445344129555

## Missing Values

### Method 1: drop all of the rows with a missing value

We can use `.dropna()` to do this:

`bill_df = bill_df.dropna()`

This command will result in the DataFrame without the incomplete rows. If we wanted to remove every row with a NaN value in the num_guests column only, we could specify a subset:

`bill_df = bill_df.dropna(subset=['num_guests'])`

### Method 2: fill the missing values with the mean of the column, or with some other aggregate value.

We can use `.fillna()` to do this:

`bill_df = bill_df.fillna(value={"bill":bill_df.bill.mean(), "num_guests":bill_df.num_guests.mean()})`

In [9]:
score_mean = students.score.mean()
print(score_mean)
students = students.fillna(value={'score':0})
score_mean_2 = students.score.mean()
print(score_mean_2)

77.69657422512235
72.30971659919028